# D209 Data Mining I Performance Assessment (NVM4 TASK 1)

## Part I: Research Question

### A1: Proposal of Question

 The research question I will explore within this paper is "What customers are at high churn risk with the service provider?" Focusing my
 research on churn will allow the company to gain insights into future improvements. By finding the variables contributing to churn,
 the company can pinpoint which aspects of the organization are helpful and harmful. The company then can limit the harmful
 variables to help improve customer churn. I will use K-nearest neighbor (KNN), to help me solve the research question.

### A2: Defined Goal

One goal of my data analysis is to to be able to predict in advance which customers are showing indications of churning. This will influence decisions within the company, focusuing on changes to reduce future churn. In the end, this analysis will hopefully allow the company to retain more of it's customer base.

## Part II: Method Justification

### B1: Explanation of Classification Method

"The KNN algorithm operates on the principle of similarity or 'nearness,' predicting the label or value of a new data point by considering the labels or values of its K-nearest (the value of K is simply an integer) neighbors in the training dataset" (Miesle, 2024). The dominant classes of the closest data points will suggest how a data point of interest should be classified. Overall, KNN is very simplicistic and has a fast training time.

### B2: Summary of Classification Method

### B3: Packages or Libraries List

## Part III: Data Prepartion

### C1: Data Preprocessing

These are my goals for Data Cleaning:
* Finding and dropping duplicates
    * I will use the .duplicated() command from pandas to ensure there is no duplicate data in the CSV.
<br>
<br>
* Finding and replacing missing information (NULLS)
    * I want to replace NULLS in the data to ensure it is well prepared before applying any regression techniques. I want our model to be as accurate as possible, and keeping NULLS within the dataset would throw off our model.
    * I will use .isnull().sum to help detect NULLS. If there are any NULLS present, I will use .fillna() to replace the NULLS values with the mean value of the column
<br>
<br>
* Detecting and resolving outliers
    * To improve the model's accuracy, I will remove any outliers I find.
    * I will only remove outliers from the variables that I will be using and not for the whole dataset.
    * I will use the IQR method to remove outliers. This method will systematically detect and remove outliers surpassing a certain threshold
 <br>
 <br>
 
These goals will allow me to correctly prepare the data 
and create a successful KNN model.

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [10]:
# Change file path 
df = pd.read_csv(r"C:\Users\josma\Downloads\d9rkejv84kd9rk30fi2l\churn.csv", index_col = 0, keep_default_na = False)
df.head()

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
CaseOrder,,,,,,,,,,,,,,,,,,,,,
1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,172.455519,904.536110,5,5,5,3,4,4,3,4
2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.632554,800.982766,3,4,3,3,4,3,4,4
3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,149.948316,271.493436,4,4,4,3,4,4,4,5

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 1 to 10000
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_id           10000 non-null  object
 1   Interaction           10000 non-null  object
 2   UID                   10000 non-null  object
 3   City                  10000 non-null  object
 4   State                 10000 non-null  object
 5   County                10000 non-null  object
 6   Zip                   10000 non-null  int64
 7   Lat                   10000 non-null  float64
 8   Lng                   10000 non-null  float64
 9   Population            10000 non-null  int64
 10  Area                  10000 non-null  object
 11  TimeZone              10000 non-null  object
 12  Job                   10000 non-null  object
 13  Children              10000 non-null  int64
 14  Age                   10000 non-null  int64
 15  Income                10000 non-null  float64
 16  Marital               10000 non-null  object
 17  Gender                10000 non-null  object
 18  Churn                 10000 non-null  object
 19  Outage_sec_perweek    10000 non-null  float64
 20  Email                 10000 non-null  int64
 21  Contacts              10000 non-null  int64
 22  Yearly_equip_failure  10000 non-null  int64
 23  Techie                10000 non-null  object
 24  Contract              10000 non-null  object
 25  Port_modem            10000 non-null  object
 26  Tablet                10000 non-null  object
 27  InternetService       10000 non-null  object
 28  Phone                 10000 non-null  object
 29  Multiple              10000 non-null  object
 30  OnlineSecurity        10000 non-null  object
 31  OnlineBackup          10000 non-null  object
 32  DeviceProtection      10000 non-null  object
 33  TechSupport           10000 non-null  object
 34  StreamingTV           10000 non-null  object
 35  StreamingMovies       10000 non-null  object
 36  PaperlessBilling      10000 non-null  object
 37  PaymentMethod         10000 non-null  object
 38  Tenure                10000 non-null  float64
 39  MonthlyCharge         10000 non-null  float64
 40  Bandwidth_GB_Year     10000 non-null  float64
 41  Item1                 10000 non-null  int64
 42  Item2                 10000 non-null  int64
 43  Item3                 10000 non-null  int64
 44  Item4                 10000 non-null  int64
 45  Item5                 10000 non-null  int64
 46  Item6                 10000 non-null  int64
 47  Item7                 10000 non-null  int64
 48  Item8                 10000 non-null  int64
dtypes: float64(7), int64(15), object(27)
memory usage: 3.8+ MB

In [12]:
df.columns

Index(['Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 'Zip',
       'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job', 'Children',
       'Age', 'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek',
       'Email', 'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract',
       'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod',
       'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'Item1', 'Item2',
       'Item3', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8'],
      dtype='object')

In [40]:
 # Check for duplicates in the DataFrame

print(df[df.duplicated()])

print("There are {} duplicates within the data".format(df[df.duplicated()].sum().sum()))

Empty DataFrame
Columns: [Customer_id, Interaction, UID, City, State, County, Zip, Lat, Lng, Population, Area, TimeZone, Job, Children, Age, Income, Marital, Gender, Churn, Outage_sec_perweek, Email, Contacts, Yearly_equip_failure, Techie, Contract, Port_modem, Tablet, InternetService, Phone, Multiple, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, PaperlessBilling, PaymentMethod, Tenure, MonthlyCharge, Bandwidth_GB_Year, Item1, Item2, Item3, Item4, Item5, Item6, Item7, Item8]
Index: []

[0 rows x 49 columns]
There are 0.0 duplicates within the data

In [45]:
#Checking for Nulls

print(df.isnull().sum())

print("There are {} nulls within the data".format(df.isnull().sum().sum()))

Customer_id             0
Interaction             0
UID                     0
City                    0
State                   0
County                  0
Zip                     0
Lat                     0
Lng                     0
Population              0
Area                    0
TimeZone                0
Job                     0
Children                0
Age                     0
Income                  0
Marital                 0
Gender                  0
Churn                   0
Outage_sec_perweek      0
Email                   0
Contacts                0
Yearly_equip_failure    0
Techie                  0
Contract                0
Port_modem              0
Tablet                  0
InternetService         0
Phone                   0
Multiple                0
OnlineSecurity          0
OnlineBackup            0
DeviceProtection        0
TechSupport             0
StreamingTV             0
StreamingMovies         0
PaperlessBilling        0
PaymentMethod           0
Tenure                  0
MonthlyCharge           0
Bandwidth_GB_Year       0
Item1                   0
Item2                   0
Item3                   0
Item4                   0
Item5                   0
Item6                   0
Item7                   0
Item8                   0
dtype: int64
There are 0 nulls within the data

### C2: Data Set Variables

### C3: Steps for Analysis

### C4: Cleaned Data Set

## Part IV: Analysis

### D1: Splitting the Data

### D2: Output and Intermediate Calculations

### D3: Code Excution

## Part V: Data Summary and Implications

### E1: Accuracy and Auc

### E2: Results and Implications

### E3: Limitation

### E4: Course of Action

## Part VI: Demonstration

### F: Panopto Recording

### G: Sources For Third-Party Code

### H: Sources

Miesle, P. (2024, September 6). What is the K-Nearest Neighbors (KNN) Algorithm? DataStax; DataStax. https://www.datastax.com/guides/what-is-k-nearest-neighbors-knn-algorithm

‌

‌